nav img{
    width: 70px;
}
nav{
    background-color:aquamarine ;
    padding:20px;
}
ul{
    float: right;
    list-style-type:disc;
}
ul li{
    display: inline-block;
    padding: 10px;
}
li a{
    color:blue;
    text-decoration:brown ;
    text-align:center;
    font-size: large;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}